/* Declare Root and Font Variables for CSS file */
:root {
    --main-backgrnd-color: #f8f8f8;
    --heading-text: #ffffff;
    --page-div-color: #2c4d7c;
    --card-icon-color: #7098cf;
    --page-div-color-alpha: #2c4d7cc4;
    --font-shadow: 1.25px 1.5px 3px #232325bb;
    --card-shadow: 3px 3px 5px #31353b38;
    --logo-red: #FF0C1F; 
    --logo-redAAA: #B3000F; 
    --layout-border: dotted orange 2px;
    --montserrat: 'Montserrat', sans-serif;
}
/* Import the Custom Font Used in the logo and selected by Client */
@font-face {
    font-family: "bauhaus";
    src: url("./Fonts/ITC - BauhausPro-Bold.otf");
}
/* ---------------------------------------------- */
* {
     /* Reset CSS */
     box-sizing: border-box;
     border: none;
     outline: none;
     margin: 0;
     padding: 0;
     font-family: var(--montserrat);
     /* --------- */
}

body {
    background: var(--main-backgrnd-color);
    height: 100%;
    width: 100%;
}

/* Splash Page CSS */

header {
    background: black;
    background-image: url("./Images/Office_72dpi.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-clip: border-box;
    color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3em;
}

header nav {
    position: absolute;
    bottom: 0;
    background: var(--page-div-color);
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav ul li {
    list-style-type: none;
    font-family: 'bauhaus', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-shadow: var(--font-shadow);
    text-align: center;
    white-space: nowrap;
    padding: 0.5em;
    margin: 0;
    font-weight: 700;
}

header nav ul li a {
    text-decoration: none;
    color: var(--heading-text);
    border: solid transparent 3px;
    padding: .25em;
}

header nav ul li a:hover {
    border: solid var(--heading-text) 3px;
    background: #ffffff34;
    cursor: pointer;
    padding: .25em;
}

header nav ul li a:focus {
    border: solid var(--heading-text) 3px;
    background: #ffffff34;
    cursor: pointer;
    padding: .25em;
}

.headline-container {
    width: 75%;
    background: var(--page-div-color-alpha); 
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
}

.headline-container h1 {
    font-family: 'bauhaus', Arial, Helvetica, sans-serif;
    font-size: calc(2em + 3vh);
    text-shadow: var(--font-shadow);
    letter-spacing: 1.5px;
}

.headline-container h2 {
    font-family: var(--montserrat);
    font-size: 2em;
    font-weight: 700;
    text-shadow: var(--font-shadow);
}

#home-icon {
    font-size: 1.5em;
    color:#180002;
}

/* Logos and Badges Section */

.badge-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: auto;
    padding: 1em;
}

.badge-logo img {
    height: 150px;
    width: auto;
    border: solid black 1px;
}

.badge-logo img:nth-child(2) {
    height: 200px;
    border: solid black 6px;
}

/* main info content section */

.main-CPRES {
    background: var(--page-div-color);
}

.main-CPRES h3 {
    text-align: center;
    color: var(--heading-text);
    font-family: 'bauhaus', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: var(--font-shadow);
    padding: 0.5em;
    letter-spacing: 1.5px;
}

.services-container {
    text-align: center;
    width: 95%;
    margin: 1em auto;
    padding: 1.5em;
}

.services-container .services-container-text {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.5em;
}

.service-cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 0;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 300px;
    text-align: center;
    background: white;
    /* border: solid 1px black; */
    box-shadow: var(--card-shadow);
    border-radius: 10px;
    margin: 1em;    
}

.card-icon {
    width: 100%;
    font-size: 7em;
    color: var(--card-icon-color);
}

.card-heading {
    background: var(--page-div-color);
    color: var(--heading-text);
    width: 100%;
    font-size: 1.75em;
    font-family: 'bauhaus', Arial, Helvetica, sans-serif;
    padding: 0.25em;
    letter-spacing: 1.5px;
}

.card-text {
    font-weight: 700;
    padding:  0.5em 1em;
    line-height: 1.5;
}

.sub-text {
    background: var(--page-div-color);
    color: var(--heading-text);
    font-weight: 500;
    font-style: italic;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Contact Us Section */

.our-specialists {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    background: var(--page-div-color);
    color: var(--main-backgrnd-color);
    text-align: center;
    font-size: 2.5em;
    font-family: 'bauhaus', Arial, Helvetica, sans-serif;
    text-shadow: var(--font-shadow);
    letter-spacing: 1.5px;
}

.contact-us p {
    font-family: var(--montserrat);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.agent-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 360px;
    text-align: center;
    background: white;
    /* border: solid 1px black; */
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    margin: 1em 1em 1em;    
}

.agent-card .name {
    padding: .5em;
}

.agent-card .agent-name {
    font-family: 'bauhaus', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.agent-card p {
    margin: 0;
}

.agent-card img {
    height: 250px;
    width: auto;
    margin: 1em 0;
    /* border: solid black 1px; */
    border-radius: 50%;
}

.agent-card .phone {
    background: var(--logo-redAAA);
    padding: 1.5em 1.5em 0.25em;
    width: 100%;
    color: var(--heading-text);
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: var(--font-shadow);
}
.agent-card .email {
    background: var(--logo-redAAA);
    width: 100%;
    color: var(--heading-text);
    font-size: 1em;
    font-weight: 700;
    padding: 0.25em 1.5em 1.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.agent-card .email a {
    color: var(--heading-text);
}

.agent-card .email a:hover {
    border: solid var(--heading-text) 1px;
    background: #ffffff34;
    cursor: pointer;
    padding: .25em;
}

.agent-card .email a:focus {
    border: solid var(--heading-text) 1px;
    background: var(--heading-text);
    color: black;
    cursor: pointer;
    padding: .25em;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    color: black;
    border-top: solid black 1px;
    width: 100%;
    padding: 1em;
    margin-bottom: 3em;
}

#linkToRealEstateHaus {
    padding: .25em;
    text-decoration: none;
    color: black;
}

#linkToRealEstateHaus:hover {
    color: var(--logo-redAAA);
    cursor: pointer;
    padding: .25em;
}

#linkToRealEstateHaus:focus {
    color: var(--logo-redAAA);
    cursor: pointer;
    padding: .25em;
}

.returnTop {
    display: none;
}

.returnTop-show {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background: #ffffff;
    color: black;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
}

.returnTop-show:hover {
    color: var(--logo-redAAA);
}

.returnTop-show:focus {
    color: var(--logo-redAAA);
}

#home-icon {
    color: inherit;
}

.icon-link {
    display: flex;
    flex-direction: column;
}

/*Media Queries*/

@media only screen and (max-width: 1194px) {
    nav ul li a {
        font-size: calc(.5em + 3vw)
    }

    .headline-container h1 {
       font-size: calc(1em + 3vh);
    }

    .headline-container h2 {
        font-size: calc(.75em + 1vh);
    }

    .contact-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .agent-card {
        margin-left: auto;
        margin-right: auto;
    }
    
    #donna {
        grid-row: 1/2;
    }
    
    #henderson {
        grid-row: 2/3;
    }
    
    #nunez {
        grid-row: 3/4;
    }
    
    .probate-timeline-title {
        font-size: 1.5em;
    }
    
}

@media only screen and (max-width: 780px) {
    .badge-logo {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #badge1 {
        margin-bottom: 1em;
        margin-right: 1em;
    }

    #badge2 {
        display: none;
    }

    footer {
        font-size: .75em;
        margin-bottom: 4em;
        justify-content: center;
        text-align: center;
    }

    footer p {
       width: 100%;
    }
}

@media only screen and (max-width: 573), (max-height: 400px) {
    .headline-container {
        width: 85%;
    }
    
    .headline-container h1 {
        font-size: 2.5em;
    }
    
    .headline-container h2 {
        font-size: 1em;
    }
    
    header nav ul li {
        font-size: 1.5em;
    }
    
    #badge1 {
        height: 100px;
        margin-bottom: 1em;
        margin-right: 0;
    }
    
    #real-estate-haus-logo {
        width: 90%;
        height: auto;
        margin: 0em 1em;
    }
    
    #badge2 {
        display: none;
    }
    
    .main-CPRES h3 p {
        font-size: 1.35em;
    }
    
    .services-container p {
        font-size: 1em;
    }
    
    footer {
        font-size: .75em;
        margin-bottom: 4em;
        justify-content: center;
        text-align: center;
    }

    footer p {
       width: 100%;
    }
}